.name {
    margin-left: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1px;
    letter-spacing: 2px;
}
.name2 {
    margin-left: 540px;
}
.text1 {
    color: #ba3265;
}
.text2 {
    color: #373737;
}
.runner {
    margin-left: 950px;
    margin-top: -300px;
}
.wrapper {
    width: auto;
    height: 1050px;
    background-color: black;
}
.challengewrapper {
    width: auto;
    height: 1050px;
    background-color: black;
}
.nutritionwrapper {
    width: auto;
    height: 1050px;
    background-color: black;
}
.contactwrapper {
    width: auto;
    height: 1050px;
    background-color: black;
}
.aboutwrapper {
    width: auto;
    height: 1050px;
    background-color: black;
}
.faqwrapper {
    width: auto;
    height: 1050px;
}
.waterwrapper {
    width: auto;
    height: 1050px;
    background-color: black;
}

.gradient-button {
    margin: 10px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
}

.gradient-button-3 {background-image: linear-gradient(to right, #7474BF 0%, #348AC7 51%, #7474BF 100%)}
.gradient-button-3:hover { background-position: right center; }

input::placeholder {
    color: black;
    font-Family: "Koulen";
    font-size: "30px";
    font-weight: 700;
    letter-Spacing: 1;
    text-align: center;
  }
.weightwrapper {
    width: auto;
    height: 1050px;
    background-color: black;
}

.join:hover {
    color: white
}
.overflow {
    overflow: scroll;
    height: 825

}
